<?xml version="1.0" encoding="UTF-8"?>
<mapper namespace="com.github.houbb.mybatis.mapper.UserMapper">

    <select id = "selectById" paramType="long" resultType = "com.github.houbb.mybatis.domain.User">
        select name, password from user where id = ?
    </select>

    <select id="selectList" resultType="com.github.houbb.mybatis.domain.User">
        select name, password from user
    </select>

</mapper>